{% extends 'base.html' %} {% block content %}
<h1>Menu Items</h1>
<table class="table">
  <thead>
    <tr>
      <th>Item ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Availability</th>
    </tr>
  </thead>
  <tbody>
    {% for item in menu_items %}
    <tr>
      <td>{{ item.item_id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ "Yes" if item.availability else "No" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
